*{
    margin: 0px;
    padding: 0px;
    color: white;
}

/* Inter font by Google */

.inter{
  font-family: "Inter", sans-serif;
  font-style: normal;
}

/* button */
.btn{
    border: none;
    padding: 13px;
    background: repeating-linear-gradient(to right top, #F7E93F, #FB09B4, #9100F8);
    border-radius: 100px;
    font-weight: bold;
}

/* green button */
.green-btn{
    border: 2px solid #00FF88;
    padding: 13px;
    background-color: transparent;
    border-radius: 100px;
    font-weight: bold;
    color: #00FF88;
}

.fa-regular{
    color: #00FF88;
}


/* nav bar section */
nav{
    height: 90px;
    background-color: #1A0B2E;
    border-bottom: 1px solid #412567;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 200px;
    padding-right: 200px;
}

nav >div{
    display: flex;
    gap: 32px;
}

nav >div >p{
    color: rgba(255, 255, 255, 0.9);
}

#logo-wave{
    background: linear-gradient(to right top, #F7E93F, #FB09B4, #9100F8);
    background-clip: text;
    color: transparent;
}

nav h1{
    font-size: 42px;
}


/* Banner Section */
.banner-section{
    height: 760px;
    background-image: url(assets/hero-bg.png);
    background-position: center;
}


.banner-btn{
    display: flex;
    justify-content: center;
    gap: 8px;
}

.banner-section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-div{
    text-align: center;
    padding-top: 100px;
}
.mic{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    background-image: url(./assets/hero-circle.png);
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 40px
}

.text h1{
    font-size: 60px;
}

.text p{
    color: rgba(255, 255, 255, 0.8);
    padding-bottom: 24px;
}

/* About Section */
.about-section{
    background-color: #1A0B2E;
    text-align: center;
}

.about-div{
    padding: 20px 200px 120px 200px;
}

.about-div >p{
    color: rgba(255, 255, 255, 0.75);
    padding-left: 250px;
    padding-right: 250px;
    padding-bottom: 10px;
}

.about-div h1{
    font-size: 48px;
    margin-bottom: 16px;
}

.stat-div{
    display: flex;
    justify-content: space-between;
}

hr{
    border: 1px solid rgb(255, 255, 255, .1);
    margin-top: 60px;
    margin-bottom: 60px;
}

.stat-div div >h2{
    font-size: 48px;
    color: #00FF88;
    margin-bottom: 12px;
}

.stat-div div >p{
    color: rgba(255, 255, 255, 0.8);
}

/* Why Section */
.why-section{
    background-color: #230E3D;
    padding: 120px 200px 120px 200px;
    text-align: center;
}

.why-section h1{
    font-size: 48px;
    margin-bottom: 40px;
}

.why-grid{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    gap: 25px;
}

.card{
    padding: 40px;
    background-color: rgb(53, 17, 101, .4);
    border-radius: 30px;
    text-align: left;
}

.card h4{
    font-size: 24px;
    margin-bottom: 16px;
}
.card p{
    color: rgba(255, 255, 255, 0.5);
}
.card img{
    margin-bottom: 16px;
}

.card-1 {
  grid-row: span 2;
  padding-top: 80px;
}
.card-2 {
  grid-column: span 3;
}
.card-3 {
  grid-column: span 3;
}

.card-4 {
  grid-column: span 3;
}

/* Fatured Section */
.featured-section{
    background-color: #1A0B2E;
    padding: 120px 200px 120px 200px;
}

.featured-text{
    text-align: center;
}
.featured-text h2{
    font-size: 38px;
    padding-bottom: 40px;
}

.episodes{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.ep {
    background-color: #250D44;
    border-radius: 20px;
}

iframe{
    width: 100%;
    height: 200px;
    border-radius: 20px 20px 0px 0px;
}

.ep-text{
    padding: 24px;
}
.ep-text h4,p{
    margin-bottom: 12px;
}
.ep-text h4{
    font-size: 24px;
}
.ep-text p{
        color: rgba(255, 255, 255, 0.6);
}

.ep-text >div{
    display: flex;
    gap: 8px
}
.ep-text div img{
    height: 18px;
}







/* when big, vanish */
.when-big-vanish{
    display: none;
}


/* Small Devices */
@media (max-width: 576px) {

/* Nav-section */
    nav{
    height: 60px;
    padding-left: 20px;
    padding-right: 20px;
}

nav h1{
    font-size: 30px;
}

/* Banner-section */
.banner-div{
    padding-top: 70px;
    padding-left: 30px;
    padding-right: 30px;
}

.mic{
    padding-left: 50px;
    padding-right: 50px;
}

.text h1{
    font-size: 48px;
}

/* About Section */
.about-div{
    padding: 20px;
}

.about-div >p{
    padding-left: 0px;
    padding-right: 0px;
}
.about-div h1{
    font-size: 38px;
}

.stat-div div >h2{
    font-size: 38px;
}


.stat-div{
    flex-wrap: wrap;
}
.stat-div >div{
    width: 50%;
    margin-top: 40px;
}


hr{
    margin-top: 30px;
    margin-bottom: 30px;
}

/* Why Section */
.why-section{
    padding: 40px 25px 40px 25px;
}

.why-section h1{
    font-size: 38px;
    margin-bottom: 30px;
}

.why-grid{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.card{
    padding: 30px;
}

.card-1 {
  grid-row: span 1;
}
.card-2 {
  grid-column: span 1;
}
.card-3 {
  grid-column: span 1;
}

.card-4 {
  grid-column: span 1;
}


/* Fatured Section */
.featured-section{
    padding: 40px 25px 40px 25px;
}

.featured-text h2{
    padding-bottom: 30px;
}

.episodes{
    display: flex;
    gap: 20px;
    flex-direction: column;
}






/* visibility!!! */

.when-small-vanish{
    display: none;
}

.when-big-vanish{
    display: block;
}

}