*{
    margin: 0px;
    padding: 0px;
    color: white;
}

/* Inter font by Google */

.inter{
  font-family: "Inter", sans-serif;
  font-style: normal;
}

/* button */
.btn{
    border: none;
    padding: 13px;
    background: repeating-linear-gradient(to right top, #F7E93F, #FB09B4, #9100F8);
    border-radius: 100px;
    font-weight: bold;
}

/* green button */
.green-btn{
    border: 2px solid #00FF88;
    padding: 13px;
    background-color: transparent;
    border-radius: 100px;
    font-weight: bold;
    color: #00FF88;
}

.fa-regular{
    color: #00FF88;
}


/* nav bar section */
nav{
    height: 90px;
    background-color: #1A0B2E;
    border-bottom: 1px solid #412567;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 200px;
    padding-right: 200px;
}

nav >div{
    display: flex;
    gap: 32px;
}

nav >div >p{
    color: rgba(255, 255, 255, 0.9);
}

#logo-wave{
    background: linear-gradient(to right top, #F7E93F, #FB09B4, #9100F8);
    background-clip: text;
    color: transparent;
}

nav h1{
    font-size: 42px;
}


/* Banner Section */
.banner-section{
    height: 760px;
    background-image: url(assets/hero-bg.png);
    background-position: center;
}


.banner-btn{
    display: flex;
    justify-content: center;
    gap: 8px;
}

.banner-section,{
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-div{
    text-align: center;
    padding-top: 100px;
}
.mic{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    background-image: url(./assets/hero-circle.png);
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 40px
}

.text h1{
    font-size: 60px;
}

.text p{
    color: rgba(255, 255, 255, 0.8);
    padding-bottom: 24px;
}



/* when big, vanish */
.when-big-vanish{
    display: none;
}



/* Small Devices */
@media (max-width: 576px) {

/* Nav-section */
    nav{
    height: 60px;
    padding-left: 20px;
    padding-right: 20px;
}

nav h1{
    font-size: 30px;
}

/* Banner-section */
.banner-div{
    padding-top: 70px;
    padding-left: 30px;
    padding-right: 30px;
}

.mic{
    padding-left: 50px;
    padding-right: 50px;
}



/* visibility!!! */

.when-small-vanish{
    display: none;
}

.when-big-vanish{
    display: block;
}

}